<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>SignAuth - Keeping your signature unique</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

   <!-- script
   ================================================== -->
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" >

</head>

<body>

	<!-- header
   ================================================== -->
   <header id="main-header">

   	<div class="row">

	      <div class="logo">
	         <a href="#">SignAuth</a>
	      </div>

	      <nav id="nav-wrap">

	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class="menu-icon">Menu</span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class="menu-icon">Menu</span>
         	</a>

	         <ul id="nav" class="nav">
	            <li><a class="smoothscroll" href="#hero">Home</a></li>
	            {% if status == false %}
	            <li><a class="smoothscroll" href="#services">Service</a></li>
	            <li><a class="smoothscroll" href="#about">About</a></li>
	            {% endif %}
	            {% if status == true %}
	            <li><a class="smoothscroll" href="/my_log">My log</a></li>
	            <li><a class="smoothscroll" href="/logout">Logout</a></li>
	            {% endif %}
	         </ul> <!-- end #nav -->

	      </nav> <!-- end #nav-wrap -->
	      <ul class="header-social">
	        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	        	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	        	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	      </ul>
	   </div>

   </header> <!-- end header -->


   <!-- homepage hero
   ================================================== -->
   <section id="hero">

		<div class="row hero-content">

			<div class="twelve columns hero-container">
			{% if status == false %}
				<ul id="user-action-buttons">
		      		<a href="/login"><button id="loginbutton" style="margin-top: 75%;">Login</button></a>
		      		<a href="/register"><button id="registerbutton">Register</button></a>
		    	</ul>
		    {% endif %}

	      </div> <!-- end twelve columns-->

		</div> <!-- end row -->

   </section> <!-- end homepage hero -->

<!-- Services Section
   ================================================== -->
   <section id="services">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>Our Awesome Service<span>.</span></h1>

	         <hr />

	         <p>SignAuth lets you protect your valuable signature from unauthorized uses. Using and advanced algorithm
           we verify your signature in a fast and unintrusive way. We also provide you with a history of your signatures
           to allow an easy way to check where and when did you sign.</p>

	      </div>

      </div> <!-- end section-head -->

      <div class="row mobile-no-padding">

	      <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

	      	<div class="bgrid">

	            <h3>Banking.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>
	         	</div>

				</div> <!-- end bgrid -->

				<div class="bgrid">

	            <h3>Delivery Services.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>
	            </div>

			   </div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Supermarkets.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

				<div class="bgrid">

	            <h3>Shops.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>
	            </div>

				</div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Fines.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Web Development.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

	      </div> <!-- end service-list -->

      </div> <!-- end row -->

   </section> <!-- end services -->


   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row team section-head">

   		<div class="twelve columns">

	         <h1>Meet Our Team<span>.</span></h1>

	         <hr />

	      </div>

      </div> <!-- end section-head -->

      <div class="row">

         <div id="team-wrapper" class="bgrid-fifth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">

            <div class="bgrid member">

               <div class="member-name">
                  <h3>Pedro Llanos</h3>
                  <span>Virtual Ninja</span>
               </div>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/SirDrope" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

               <div class="member-name">
                  <h3>Josep de Cid</h3>
                  <span>Flask Master Cyborg</span>
               </div>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/JosepRivaille" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://es.linkedin.com/in/josep-de-cid-rodr%C3%ADguez-6788b4103" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

               <div class="member-name">
                  <h3>Pau Risa</h3>
                  <span>Emergency Backdoor Creator</span>
               </div>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/paurisa/" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://es.linkedin.com/in/pau-risa-7ba98aba" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               </ul>

     			</div> <!-- end member -->

            <div class="bgrid member">

               <div class="member-name">
                  <h3>Jospep Romero</h3>
                  <span>Photo Editor Bot</span>
               </div>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/flormarper" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://es.linkedin.com/in/albertopardomarti" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

               <div class="member-name">
                  <h3>Alberto Pardo</h3>
                  <span>Laptop Stickers Overflower</span>
               </div>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://github.com/joeromero" target="_blank"><i class="fa fa-github"></i></a></li>
                  <li><a href="https://es.linkedin.com/in/josepromero" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               </ul>

            </div> <!-- end member -->

         </div> <!-- end team-wrapper -->

      </div> <!-- end row -->

   </section> <!-- end about -->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="row content flex-container">

         <div id="testimonial-slider" class="flexslider">

            <ul class="slides">
               <li>
                  <p>Thanks to SignAuth we can provide a robust signature security system for our clients and
                  improve our efficency at the same time. It also gives valuable data to our clients regarding
                  the unathorized use of they signature.</p>

                  <div class="testimonial-author">
                      <img src="{{ url_for('static', filename = 'images/avatars/avatar-1.jpg') }}" alt="Author image">
                    	<div class="author-info">
                    		Jeff Bezos
                    		<span class="position">Executive Director, Amazon.</span>
                        <!-- Not actually a real testimonial from Jeff Bezos -->
                    	</div>
                  </div>
             	</li> <!-- end slide -->

            </ul> <!-- end slides -->

         </div> <!-- end flexslider -->

      </div> <!-- end row -->

   </section> <!-- end testimonials section -->

   <!-- Footer
   ================================================== -->
   <footer>

     <div id="go-top">
        <a class="smoothscroll" title="Back to Top" href="#hero">Back to Top<i class="fa fa-angle-up"></i></a>
     </div>

      <div class="row">

      	<div class="twelve columns content group">

			<ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
      </ul>

      <hr />

      </div> <!-- end row -->

   </footer> <!-- end footer -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
