<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>SignAuth - Keeping your signature unique</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

   <!-- script
   ================================================== -->
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" >

</head>

<body>

	<!-- header
   ================================================== -->
   <header id="main-header">

   	<div class="row">

	      <div class="logo">
	         <a href="index.html">SignAuth</a>
	      </div>

	      <nav id="nav-wrap">

	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class="menu-icon">Menu</span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class="menu-icon">Menu</span>
         	</a>

	         <ul id="nav" class="nav">
	            <li><a class="smoothscroll" href="#hero">Home</a></li>
	            <li><a class="smoothscroll" href="#services">Service</a></li>
	            <li><a class="smoothscroll" href="#about">About</a></li>
	            <li><a class="smoothscroll" href="#contact">Contact</a></li>
	         </ul> <!-- end #nav -->

	      </nav> <!-- end #nav-wrap -->

	      <ul class="header-social">
	        	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
	        	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
	        	<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	      </ul>

	   </div>

   </header> <!-- end header -->


   <!-- homepage hero
   ================================================== -->
   <section id="hero">

		<div class="row hero-content">

			<div class="twelve columns hero-container">

				<ul id="user-action-buttons">
		      		<a href="/login"><button id="loginbutton">Login</button></a>
		      		<a href="/register"><button id="registerbutton">Register</button></a>
		    	</ul>

			   <!-- hero-slider start-->
			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- slide -->
					   <li>
						   <div class="flex-caption">
								<h1 class="">Say hello to <span>Kreo</span>. We create awesome and stunning
									digital solutions.
								</h1>

								<h3 class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h3>
							</div>
					   </li>

					   <!-- slide -->
					   <li>
							<div class="flex-caption">
								<h1 class="">We are a small design studio dedicated to build great digital
									products.</h1>

								<h3 class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h3>
							</div>
					   </li>

					   <!-- slide -->
					   <li>
						   <div class="flex-caption">
								<h1 class="">Take a look at some of <a class="smoothscroll" href="#portfolio" title="portfolio" >our works</a> or
								<a class="smoothscroll" href="#contact" title="contact us">get in touch</a> to discuss how we can help you.</h1>

								<h3 class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</h3>
							</div>
					   </li>

				   </ul>

			   </div> <!-- end hero-slider -->

	      </div> <!-- end twelve columns-->

		</div> <!-- end row -->

   </section> <!-- end homepage hero -->

<!-- Services Section
   ================================================== -->
   <section id="services">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>Our Awesome Services<span>.</span></h1>

	         <hr />

	         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	         eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
	         voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         </p>

	      </div>

      </div> <!-- end section-head -->

      <div class="row mobile-no-padding">

	      <div class="service-list bgrid-third s-bgrid-half tab-bgrid-whole group">

	      	<div class="bgrid">

	            <h3>Marketing.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>
	         	</div>

				</div> <!-- end bgrid -->

				<div class="bgrid">

	            <h3>Videography.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>
	            </div>

			   </div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Photography.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

				<div class="bgrid">

	            <h3>Branding.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         		</p>
	            </div>

				</div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Web Design.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

			   <div class="bgrid">

	            <h3>Web Development.</h3>

	            <div class="service-content">
		            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	        			</p>
	            </div>

			   </div> <!-- end bgrid -->

	      </div> <!-- end service-list -->

      </div> <!-- end row -->

   </section> <!-- end services -->


   <!-- About Section
   ================================================== -->
   <section id="about">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>Who Are We<span>.</span></h1>

	         <hr />

	         <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
	         eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
	         voluptatem quia voluptas sit aspernatur aut odit aut fugit.
	         </p>

	      </div> <!-- end section-head -->

      </div>

      <div class="row mobile-no-padding">

      	<div class="process bgrid-half tab-bgrid-whole group">

      		<div class="bgrid">

			      <h3>Our Process.</h3>

			      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
			      </p>

		   	</div>

      		<div class="bgrid">

			     	<h3>Our Approach.</h3>

			     	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
			   	</p>

		      </div>

		      <div class="bgrid">

			     	<h3>Our Goal.</h3>

			     	<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
			      </p>

		      </div>

		      <div class="bgrid">

			      <h3>Our Mission.</h3>

			      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
			      </p>

		      </div>

      	</div> <!-- end process -->

     	</div> <!-- end row -->


      <div class="row team section-head">

   		<div class="twelve columns">

	         <h1>Meet Our Team<span>.</span></h1>

	         <hr />

	      </div>

      </div> <!-- end section-head -->

      <div class="row">

         <div id="team-wrapper" class="bgrid-fourth s-bgrid-third tab-bgrid-half mob-bgrid-whole group">

            <div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/member01-k.jpg" alt=""/>
                 	<div class="mask"></div>
               </div>
               <div class="member-name">
                  <h3>Naruto Uzumaki</h3>
                  <span>Creative Director</span>
               </div>

               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
               nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
               </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

					<div class="member-pic">
                  <img src="images/team/member03-k.jpg" alt=""/>
               	<div class="mask"></div>
               </div>
               <div class="member-name">
                  <h3>Sasuke Uchiha</h3>
                  <span>Lead Designer</span>
               </div>

               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
               nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
               </ul>

            </div> <!-- end member -->

            <div class="bgrid member">

					<div class="member-pic">
						<img src="images/team/member04-k.jpg" alt=""/>
                 	<div class="mask"></div>
               </div>
               <div class="member-name">
                  <h3>Shikamaru Nara</h3>
                  <span>Designer</span>
               </div>

               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
               nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
               </ul>

     			</div> <!-- end member -->

            <div class="bgrid member">

					<div class="member-pic">
                 	<img src="images/team/member05-k.jpg" alt=""/>
                 	<div class="mask"></div>
               </div>
               <div class="member-name">
                  <h3>Sakura Haruno</h3>
                  <span>Designer</span>
               </div>

               <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
               nisi elit consequat ipsum, nec sagittis sem nibh id elit. </p>

               <ul class="member-social">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-skype"></i></a></li>
               </ul>

            </div> <!-- end member -->

         </div> <!-- end team-wrapper -->

      </div> <!-- end row -->

      <div id="call-to-action">

		   <div class="row section-ads">

		      <div class="twelve columns">

			      <h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost<span>.</span></a></h2>

			      <p>
			      Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
					Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
					<!-- Simply type	the promocode in the box labeled “Promo Code” when placing your order. -->
					</p>

					<div class="action">
			         <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT" >Sign Up Now</a>
	         	</div>

			   </div>

		   </div> <!-- end section-ads -->

	   </div> <!-- end call-to-action -->

   </section> <!-- end about -->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

      <div class="row content flex-container">

         <div id="testimonial-slider" class="flexslider">

            <ul class="slides">
               <li>
                  <p>Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                  to do what you believe is great work. And the only way to do great work is to love what you do.
                  If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                  </p>

                  <div class="testimonial-author">
                    	<img src="images/avatars/avatar-1.jpg" alt="Author image">
                    	<div class="author-info">
                    		Steve Jobs
                    		<span class="position">CEO, Apple.</span>
                    	</div>
                  </div>
             	</li> <!-- end slide -->

               <li>
                  <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                  nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                  </p>
                  <div class="testimonial-author">
                    	<img src="images/avatars/avatar-2.jpg" alt="Author image">
                    	<div class="author-info">
                    		John Doe
                    		<span>CEO, ABC Corp.</span>
                    	</div>
                  </div>
               </li> <!-- end slide -->

            </ul> <!-- end slides -->

         </div> <!-- end flexslider -->

      </div> <!-- end row -->

   </section> <!-- end testimonials section -->


   <!-- contact
   ================================================== -->
   <section id="contact">

   	<div class="row section-head">

   		<div class="twelve columns">

	         <h1>Get In Touch With Us<span>.</span></h1>

	         <hr />

	      </div>

      </div> <!-- end section-head -->

      <div class="row">

      	<div id="contact-form" class="six columns tab-whole left">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="post" action=""  >
      			<fieldset>

                  <div class="group">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minLength="2" required />
                  </div>
                  <div>
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required />
	               </div>
                  <div>
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject"  value="" />
	               </div>
                  <div>
	                 	<textarea name="contactMessage"  id="contactMessage" placeholder="message" rows="10" cols="50" required ></textarea>
	               </div>
                  <div>
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>

      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning"></div>
            <!-- contact-success -->
      		<div id="message-success">
               <i class="icon-ok"></i>Your message was sent, thank you!<br />
      		</div>

         </div>

         <div class="six columns tab-whole right">

            <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

	         <h3 class="address">Come Visit</h3>

	         <p>
            1600 Amphitheatre Parkway<br>
            Mountain View, CA<br>
            94043 US
            </p>

            <h3>Contact Numbers:</h3>
			   <p>Phone: (000) 555 1212<br>
			   	Mobile: (000) 555 0100<br>
			     	Fax: (000) 555 0101
			   </p>

         </div>

      </div> <!-- end row -->

   </section>  <!-- end contact -->


   <!-- Footer
   ================================================== -->
   <footer>

      <div class="row">

      	<div class="twelve columns content group">

			<ul class="social-links">
               <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
               <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
               <li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
               <li><a href="#"><i class="fa fa-flickr"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>

            <hr />

            <div class="info">

            	<div class="footer-logo"></div>

	            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
	            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
	            nibh id elit.
	            </p>

	         </div>

      	</div>

         <ul class="copyright">
         	<li>&copy; Copyright 2015 KREO.</li>
         	<li>Design by <a href="http://www.styleshout.com/">Styleshout.</a>.</li>
         </ul>

         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#hero">Back to Top<i class="fa fa-angle-up"></i></a>
         </div>

      </div> <!-- end row -->

   </footer> <!-- end footer -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>

   <!-- Java Script
   ================================================== -->
   <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
