<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>SignAuth - Keeping your signature unique</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

   <!-- script
   ================================================== -->
	<script src="{{ url_for('static', filename='js/modernizr.js') }}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" >

</head>

<body background="{{ url_for('static', filename='images/signature-bg.jpg') }}">

	<!-- header
   ================================================== -->
   <header id="main-header">

   	<div class="row">

	      <div class="logo">
	         <a href="index.html">SignAuth</a>
	      </div>

	      <nav id="nav-wrap">

	         <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
	         	<span class="menu-icon">Menu</span>
	         </a>
         	<a class="mobile-btn" href="#" title="Hide navigation">
         		<span class="menu-icon">Menu</span>
         	</a>

	         <ul id="nav" class="nav">
	            <li><a class="smoothscroll" href="/">Home</a></li>
	            <li><a class="smoothscroll" href="/logout">Logout</a></li>
	         </ul> <!-- end #nav -->

	      </nav> <!-- end #nav-wrap -->

	   </div>

   </header> <!-- end header -->

   <table class=flashes_logs>
   	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<tr>
				<th>Date</th>
    			<th>Organization</th>
    			<th>Accepted</th>
			</tr>
			{% for message in messages %}
				<tr>
					<td colspan="1">{{ message[1] }}</td>
					<td colspan="1">{{ message[2] }}</td>
					{% if message[3] == true %}<td><img src="{{ url_for('static', filename='images/tick.png') }}"></td>{% endif %}
					{% if message[3] == false %}<td><img src="{{ url_for('static', filename='images/cross.png') }}"></td>{% endif %}
				</tr> 
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
   </table>


   <!-- Java Script
   ================================================== -->
   <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-migrate-1.2.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.fittext.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.placeholder.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
