<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webgl - lines - splines</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				background-color: #000000;
				margin: 0px;
				overflow: hidden;
				width: 50%;
			}

			a {
				color:#0078ff;
			}

			#info {
				position: absolute;
				top: 10px; width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family: Monospace;
				font-size: 13px;
				text-align: center;
				z-index:100;
			}

			a {
				color: orange;
				text-decoration: none;
			}

			a:hover {
				color: #0080ff;
			}

		</style>
	</head>
	<body>

		<div id="info">
			<h3><a href="/backanimation">&#8592; Back to my log</a> - Signature simulation</h3>
		</div>

		<script src="../static/js/three.js"></script>
		<script src="../static/js/hilbert2D.js"></script>
		<script src="../static/js/Detector.js"></script>
		<script src="../static/js/stats.min.js"></script>	

		<script>

			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();

			var mouseX = 0, mouseY = 0,

			windowHalfX = window.innerWidth / 2,
			windowHalfY = window.innerHeight / 2,

			camera, scene, renderer, material;

			init();
			animate();

			function init() {

				var i, n_sub, container;

				container = document.createElement( 'div' );
				document.body.appendChild( container );

				camera = new THREE.PerspectiveCamera( 33, window.innerWidth / window.innerHeight, 1, 10000 );
				camera.position.z = 600;

				scene = new THREE.Scene();

				renderer = new THREE.WebGLRenderer( { antialias: true } );
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				container.appendChild( renderer.domElement );

				/*
				 * @param center     Center of Hilbert curve.
				 * @param size       Total width of Hilbert curve.
				 * @param iterations Number of subdivisions.
				 * @param v0         Corner index -X, +Y, -Z.
				 * @param v1         Corner index -X, +Y, +Z.
				 * @param v2         Corner index -X, -Y, +Z.
				 * @param v3         Corner index -X, -Y, -Z.
				 *
				 * function hilbert3D( center, size, iterations, v0, v1, v2, v3 ) */

				var geometry = new THREE.Geometry(),
					geometry2 = new THREE.Geometry(),
					points = hilbert2D( new THREE.Vector3( 0,0,0 ), 200.0, 0, {{ myv0 }}, {{ myv1 }}, {{ myv2 }}, {{ myv3 }}),
					points2 = hilbert2D( new THREE.Vector3( 0,0,0 ), 200.0, 0, {{ logv0 }}, {{ logv1 }}, {{ logv2 }}, {{ logv3 }}),
					colors = [], colors2 = [];

				n_sub = 20;

				var position, position2, index, index2;
				var spline = new THREE.Spline( points );
				var spline2 = new THREE.Spline( points2 );

				for ( i = 0; i < points.length * n_sub; i ++ ) {

					index = i / ( points.length * n_sub );
					position = spline.getPoint( index );

					geometry.vertices[ i ] = new THREE.Vector3( position.x, position.y, position.z );
				
				}

				for ( i = 0; i < points2.length * n_sub; i ++ ) {

					index2 = i / ( points2.length * n_sub );
					position2 = spline2.getPoint( index2 );

					geometry2.vertices[ i ] = new THREE.Vector3( position2.x, position2.y, position2.z );

				}

				geometry.colors = colors;
				geometry2.colors = colors2;

				// lines

				material = new THREE.LineBasicMaterial( { color: 0xff0000, opacity: 1, linewidth: 5 } );

				var line, p, scale = 0.3, d = 225;
				var parameters =  [
					[ material, scale*1.5, [-d/2,0,0],  geometry ],
					[ material, scale*1.5, [d/2,0,0],  geometry2 ]
				];
				
				p = parameters[ 0 ];
				p2 = parameters[ 1 ];
				line = new THREE.Line( p[ 3 ],  p[ 0 ] );
				line2 = new THREE.Line( p2[ 3 ],  p2[ 0 ] );
				line.scale.x = line.scale.y = line.scale.z =  p[ 1 ];
				line.position.x = p[ 2 ][ 0 ];
				line.position.y = p[ 2 ][ 1 ];
				line.position.z = p[ 2 ][ 2 ];
				line2.scale.x = line2.scale.y = line2.scale.z =  p2[ 1 ];
				line2.position.x = p2[ 2 ][ 0 ];
				line2.position.y = p2[ 2 ][ 1 ];
				line2.position.z = p2[ 2 ][ 2 ];
				scene.add( line );
				scene.add( line2 );


				document.addEventListener( 'mousemove', onDocumentMouseMove, false );
				document.addEventListener( 'touchstart', onDocumentTouchStart, false );
				document.addEventListener( 'touchmove', onDocumentTouchMove, false );

				
				window.addEventListener( 'resize', onWindowResize, false );

			}

			function onWindowResize() {

				windowHalfX = window.innerWidth / 2;
				windowHalfY = window.innerHeight / 2;

				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();

				renderer.setSize( window.innerWidth, window.innerHeight );

			}

			//

			function onDocumentMouseMove( event ) {

				mouseX = event.clientX - windowHalfX;
				mouseY = event.clientY - windowHalfY;
			}

			function onDocumentTouchStart( event ) {

				if ( event.touches.length > 1 ) {

					event.preventDefault();

					mouseX = event.touches[ 0 ].pageX - windowHalfX;
					mouseY = event.touches[ 0 ].pageY - windowHalfY;
				}
			}

			function onDocumentTouchMove( event ) {

				if ( event.touches.length == 1 ) {

					event.preventDefault();

					mouseX = event.touches[ 0 ].pageX - windowHalfX;
					mouseY = event.touches[ 0 ].pageY - windowHalfY;
				}

			}

			//

			function animate() {

				requestAnimationFrame( animate );
				render();

			}

			function render() {

				camera.position.x += ( mouseX - camera.position.x ) * .05;
				camera.position.y += ( - mouseY + 200 - camera.position.y ) * .05;
				camera.lookAt( scene.position );
				var time = Date.now() * 0.0005;

				renderer.render( scene, camera );

			}


		</script>
	</body>
</html>
